.box {
    h2{
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
    }
}